body {
  width:100%;
  height: 100vh;
  margin: 0 auto;
  font-family: Montserrat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
}

/*------------------global----------------*/

.row {
  display: block;
}
.logo-box {
  width: 250px;
  height: 150px;
  margin: 30px 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.logo-box img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left:0;
  right:0;
  margin: 0 auto;

}
.logo-box__content {
  position: relative;
  height: 100%;
}

.logo-box .logo-des {
  text-align: center;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.nav-bar {
  position: relative;
  top: 0;
  display: flex;
  height: 70px;
  align-items: center;
  background-color: white;
  /*box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.23);*/
  padding: 0 50px;
}

.nav-bar__logo {
  display: inline-flex;
}
.nav-bar__logo img {
  height: 50px;
}
.nav-bar__navigation-container {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
}

.nav-bar__navigation {
  padding: 0 10px;
  font-size: 12px;
  color: rgb(66, 66, 66);
  cursor: pointer;
}

.nav-bar__navigation.ticket {
  background-color: rgb(238, 50, 50);
  color: white;
  padding: 2px 10px;
  margin-left: 10px;
}

#hamberger-menu {
  margin-left: auto;
  width: 40px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 20;
  right: 0;
  display: none;
}

#hamberger-menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: black;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#hamberger-menu span:nth-child(1) {
  top: 0px;
}

#hamberger-menu span:nth-child(2),#hamberger-menu span:nth-child(3) {
  top: 10px;
}

#hamberger-menu span:nth-child(4) {
  top: 20px;
}

#hamberger-menu.open span:nth-child(1) {
  top: 20px;
  width: 0%;
  left: 50%;
}

#hamberger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamberger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamberger-menu.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

/*========================footer==========================*/

.footer {
  position: absolute;
  height: 60px;
  bottom: 0;
  width: 100%;
  display: table;
  opacity: 0.9;
  z-index: 10;
}
.main {
  position: absolute;
  background-size: cover;
  height: calc(100% - 70px);
  opacity: 0;
  transition: 0.5s ease-in-out;
  width: 100%;
  text-align: center;
}

.slider, .slider-content {
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.slider-content {
  position: absolute;
  transition: 1s ease-in-out;
  opacity: 0;
  transform: scale3d(1.1,1.1,1.1);

}

.slider-content.active {
  z-index: 2;
  opacity: 1;
  transform: none;
}

#partner-page {
  background-color: white;

}
#partner-page .caption h1{
  color:rgb(200, 35, 60); !important;
  margin-bottom: 0 !important;
  padding: 0;
}
#charm-page {
  background-color: white;
}
#charm-page .caption h1{
  color:rgb(200, 35, 60) !important;
}
#intro-page {
  background-image: url('../images/bg.jpg');
}
#board-page {
background-color: white;
}
#board-page .caption h1{
  color:rgb(200, 35, 60) !important;
}
.main.active {
  opacity: 1;

}

.caption {
  padding: 30px 20% 0 20%;
}

.caption h1 {
  color: white;
  margin: 0 0 20px 0;
  font-size: 40px;
  text-align: center;
}
.caption span {
  color: white;
  font-family: Kanit;
  text-align: center;
}

.footer__navigation {
  display: table-cell;
  width: 50%;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(120, 30, 40);
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 13px;
  transition: 0.1s ease-in-out;
}

.footer__navigation.active {
  background-color: rgb(200, 35, 60);
}

.circle-navigation-container {
  position: absolute;
  right: 3%;
  bottom: 50%;
  z-index: 50;
}

.circle-navigation {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 7px 0;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.circle-navigation.active {
  background-color: white;
}

@media only screen and (max-width: 667px) {

  .nav-bar {
    position: relative;
    padding: 0 20px;
  }

  #hamberger-menu {
    display: block;
  }

  .nav-bar__logo {
    position: relative;
    z-index: 20;
  }
  .main {
    display: block;
    position: static;
    opacity: 1;
  }

  .nav-bar__navigation-container {
    position: absolute;
    display: block;
    background-color: white;
    left:0;
    width: 100%;
    transform: translate3d(-100vw,0,0);
    height: 100vh;
    z-index: 10;
    padding-top: 40%;
    transition: 0.3s ease-in-out;
  }
  .nav-bar__navigation-container.active {
    transform: translate3d(0,0,0);
    transition: 0.3s ease-in-out;
  }

  .nav-bar__navigation {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 25px 0;
    padding: 0;
  }
  .nav-bar__navigation.ticket {
    margin-left: 0;
    padding: 0
  }

  body {
    overflow: none;
  }

  .footer {
    display: none;
  }

  .footer__navigation {
    width: 100%;
  }

}
