@font-face {
    font-family: Kanit;
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Kanit/Kanit-ExtraLight.ttf');
}
@font-face {
    font-family: Kanit;
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Kanit/Kanit-Regular.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
