.rotateIn {
  -webkit-animation-name: rotateIn;
          animation-name: rotateIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip {
  -webkit-animation-name: flip;
          animation-name: flip;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/*keyframes*/
@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg) scale3d(0,0,0);
            transform: rotate3d(0, 0, 1, -200deg) scale3d(0,0,0);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}
@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg) scale3d(0,0,0);
            transform: rotate3d(0, 0, 1, -200deg) scale3d(0,0,0);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 270deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 270deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }

}

@keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 270deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 270deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }

}
